### Sanity configuration - replace with your own values after running sanity:init
PUBLIC_SANITY_PROJECT_ID="your sanity project id here"
PUBLIC_SANITY_DATASET="production"
SANITY_STUDIO_STUDIO_HOST="your sanity studio host here"

### Customize the following variables to match your site details
PUBLIC_PAGE_TITLE="in the browser tab title"
PUBLIC_NAVBAR_TITLE="what you want in the navbar"
PUBLIC_COPYRIGHT_HOLDER="your name or your company's name here"

# If you are not planning to self host this you can remove the below Dokploy and Cloudflare Access variables
# If you are using Dokploy and Cloudflare Access, keep these variables
# and add them to the repository secrets as well as they are used
# during deployment.
DOKPLOY_DEPLOY_HOOK_URL="https://yourdomain.com/api/deploy/your-deploy-hook-url-here"
CF-Access-Client-Id="your-cloudflare-access-client-id-here.access"
CF-Access-Client-Secret="your-cloudflare-access-client-secret-here"