PUBLIC_SANITY_PROJECT_ID="your sanity project id here"
PUBLIC_SANITY_DATASET="production"
SANITY_STUDIO_STUDIO_HOST="your sanity studio host here"

PUBLIC_PAGE_TITLE="in the browser tab title"
PUBLIC_NAVBAR_TITLE="what you want in the navbar"
PUBLIC_COPYRIGHT_HOLDER="your name or your company's name here"